.git
.github
node_modules
vendor
storage/app/public
storage/debugbar
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
*.md
docs
tests
.env
.env.*
!.env.example
